extends layout

block append head
  script(src="//code.highcharts.com/stock/highstock.js")
  script(src="/js/queue.js")
  script.
    var qname = '#{name}';

block contents
  button#btnResetCounters.btn.btn-mini.pull-right.btn-control Reset Counters
  button#btnResetHistory.btn.btn-mini.pull-right.btn-control Clear History
  h3 Queues / #{name}
  hr

  if found

    .row-fluid
      ul.thumbnails.queue-counters
        li.span3
          .thumbnail
            .caption
              strong Queued
              h3.queued= addCommas(stats.counters.queued)
        li.span3
          .thumbnail
            .caption
              strong Processed
              h3.processed= addCommas(stats.counters.processed)
        li.span3
          .thumbnail
            .caption
              strong Failed
              h3.failed
                span= addCommas(stats.counters.failed)
                &nbsp;
                small.failedrate #{(stats.counters.failed*100/(stats.counters.processed + stats.counters.failed) || 0).toFixed(2)}%
        li.span3
          .thumbnail
            .caption
              strong Speed
              h3= addCommas(stats.speed)
                small  tasks/minute

    #chartbox

  else
    .alert.alert-block
      h4 Error
      p Queue with given name does not found

